@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700";

body{
	background-color: #00000007;
	font-family: 'Roboto', sans-serif;
	color: #565656;
}

.box{
	background-color: #fff;
	-webkit-box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.25);
	padding: 10px;
	border-radius: 2px;
}

.search{
	&__results{
		margin-top: 20px;

		&__empty{
			font-weight: 600;			
		}

		&__list-item{
			cursor: pointer;

			&:hover{
		    background-color: #e2e2e2 !important;
			}		
		}

		&__message{
			font-size: 13px;
			margin-top: 6px;
		}
	}

	&__show-more{
		margin-top: 20px;
	}	
}

.choosen{
	&__picture{
		max-width: 100%;
	}

	&__map{
		height: 200px;
		margin-top: 20px;
	}
}

.modal{
	background-color: #00000063;

	&-dialog{
		-webkit-animation: modalIn .3s 1;
	}
}

.employees{
	h1{
		font-weight: 300;
		font-size: 2.5em;
	}

	h3{
		font-size: 1.3em;
	}

	.dl-horizontal{
		margin: 10px 0 0 0;

		dt{
			width: 100px;
		}
	}

	.title{
		margin-bottom: 20px;
		position: relative;
		font-weight: 300;

		&:before{
			content: ' ';
	    display: block;
	    height: 2px;
	    width: 35px;
	    background-color: #808080;
	    position: absolute;
	    bottom: -8px;
		}
	}
}

@-webkit-keyframes modalIn {
  0%   { top: -3%; }
  100% { top: 0; }
}