@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700";
body {
  background-color: #00000007;
  font-family: 'Roboto', sans-serif;
  color: #565656; }

.box {
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.25);
  padding: 10px;
  border-radius: 2px; }

.search__results {
  margin-top: 20px; }
  .search__results__empty {
    font-weight: 600; }
  .search__results__list-item {
    cursor: pointer; }
    .search__results__list-item:hover {
      background-color: #e2e2e2 !important; }
  .search__results__message {
    font-size: 13px;
    margin-top: 6px; }

.search__show-more {
  margin-top: 20px; }

.choosen__picture {
  max-width: 100%; }

.choosen__map {
  height: 200px;
  margin-top: 20px; }

.modal {
  background-color: #00000063; }
  .modal-dialog {
    -webkit-animation: modalIn .3s 1; }

.employees h1 {
  font-weight: 300;
  font-size: 2.5em; }

.employees h3 {
  font-size: 1.3em; }

.employees .dl-horizontal {
  margin: 10px 0 0 0; }
  .employees .dl-horizontal dt {
    width: 100px; }

.employees .title {
  margin-bottom: 20px;
  position: relative;
  font-weight: 300; }
  .employees .title:before {
    content: ' ';
    display: block;
    height: 2px;
    width: 35px;
    background-color: #808080;
    position: absolute;
    bottom: -8px; }

@-webkit-keyframes modalIn {
  0% {
    top: -3%; }
  100% {
    top: 0; } }
